



<body id="HomepageBody">
</body>




<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <h1 class="display-1 text-center"><strong>Welcome</strong></h1>
    </div>    
</div>
<br />

<div class="row">
    <div class="col-md-8"></div>

    <div class="col-md-2">
        <form action="/Book/CreateAndUpdateBook">
            <input type="submit" id="CreateAndUpdateBook" name="CreateAndUpdateBook" value="Create Book" class="btn tabColor" style="width:350px; height:75px ; font-size:36px" />
        </form>
    </div>

    <div class="col-md-2">
        <form action="/Book/ReadBooks">
            <input type="submit" id="ReadBooks" name="ReadBooks" value="Book List" class="btn tabColor" style="width:350px; height:75px ; font-size:36px" />
        </form>
    </div>
</div>
